<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Pokebase</title>
</head>
<body style="background-color: rgb(35, 147, 217);">
	<h1>Add to Pokebase</h1>
	<form action="/processAddPokemon" method="post" onsubmit="return alert('Pokemon added!');">
		<fieldset>
			<label><b>Name: </b><input type="text" name="name"/></label>
			<label><b>Pokemon: </b><input type="text" name="pokemon" pattern="[a-z]*" placeholder="[lowercase name]"></label><br>
        </fieldset>
		<br>
		<input type="reset" />
		<input type="submit" value="Submit"/>
        <hr>
	</form>
    <a href="/getTrainer"><u>Get Pokemon by Trainer</u></a><br>
	<a href="/clearDatabase"><u>Clear Pokebase</u></a><br>
	<a href="/"><u>HOME</u></a>
</body>
</html>

