<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Clear Pokebase</title>
</head>
<body style="background-color: rgb(35, 147, 217);">
	<h1>Clear Pokebase</h1>
	<form action="/processClearDatabase" method="post" onsubmit="return confirm('Are you sure you want to clear the database?')">
		<input type="submit" value="Clear Pokebase"/>
	</form>
	<hr>
	<a href="/addPokemon"><u>Add a Pokemon to Trainer</u></a><br>
    <a href="/getTrainer"><u>Get Pokemon by Trainer</u></a><br>
	<a href="/"><u>HOME</u></a>
</body>
</html>
