<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>PokeTable</title>
</head>
<body>
	<h1>Display Pokemon of Trainer</h1>
	<div style="margin-bottom:10px;">
		<%- pokeTable %>
	</div>
    <a href="/"><u>Add Pokemon to Trainer</u></a>
</body>
</html>
