<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>PokeTable</title>
</head>
<body>
	<h1>Display Pokemon of <%- user %></h1>
	<div style="margin-bottom:10px;">
		<table border="1">
			<thead>
				<tr><th>Pokemon</th><th>Image</th></tr>
			</thead>
			<tbody>
				<%- pokeTable %>
			</tbody>
		</table>
	</div>
    <a href="/addPokemon"><u>Add a Pokemon to Trainer</u></a><br>
    <a href="/getTrainer"><u>Get Pokemon by Trainer</u></a><br>
	<a href="/clearDatabase"><u>Clear Pokebase</u></a><br>
	<a href="/"><u>HOME</u></a>
</body>
</html>
