<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Get Pokemon</title>
</head>
<body>
	<h1>Get Pokemon By Trainer</h1>
	<form method="post" action="/retrieve">
		<fieldset style="margin-bottom:20px;">
			<label><b>Trainer Name: </b><input style="margin-bottom: 21px;" name="trainer"></label>
        </fieldset>
		<input type="reset" />
		<input type="submit" value="Submit Request"/><hr>
	</form>
    <a href="/delete"><u>Clear Pokebase</u></a><br>
    <a href="/"><u>Add a Pokemon to Trainer</u></a>
</body>
</html>
