<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Pokebase</title>
</head>

<body style="background-color: rgb(35, 147, 217);">
	<h1>Welcome to Pokebase</h1>

	<h2>Pokedex</h2>
		<ul>
			<li>To add a Pokemon <a href="/addPokemon">Add Pokemon</a></li>
			<li>To get a trainer's Pokemon <a href="/getTrainer">Get Trainer Pokemon</a></li>
		</ul>
	<hr>
	<h2>Database</h2>
		<ul>
			<li>To clear the database <a href="/clearDatabase">Clear database</a></li>
		</ul>
	<hr>

</body>

</html>
